%p
  %a(href='http://github.com/jorgenpt/galleruby') Galleruby
  is powered by 
  %a(href='http://haml-lang.com/') HAML
  and
  %a(href='http://rmagick.rubyforge.org/') RMagick!

  Copyright 2011, Jørgen P. Tjernø &lt;
  %a(href='mailto:j.orgenpt@gmail.com')> j.orgenpt@gmail.com
  &gt;
